/* Background color */

.bg-dark-black {
    background-color: #0b0e0f;
}

.bg-light-black {
    background-color: #121520;
}

.bg-pink {
    background-color: #cd118f;
}

.bg-sky-blue {
    background-color: #2495c9;
}

.bg-green {
    background-color: #48BB78;
}

.bg-teal {
    background-color: #4FD1C5;
}

.bg-blue {
    background-color: #4299E1;
}

.bg-indigo {
    background-color: #667EEA;
}

.bg-purple {
    background-color: #805AD5;
}

.bg-red{
    background-color: #E53E3E;
}

.bg-orange{
    background-color: #DD6B20;
}

/* Gradient */

.gradient-pink {
    background: rgb(205, 17, 143);
    background: linear-gradient(264deg, rgba(205, 17, 143, 1) 0%, rgba(232, 58, 87, 1) 100%);
}

/* Button */