html {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}

.backgrund-bg {
	height: 100%;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.welcome-text-caption h1 {
	font-size: 60px;
}

.welcome-text-caption button {
	border-radius: 100em;
	width: 220px;
	height: 60px;
	padding: 0;
	padding-right: 14px;
	position: relative;
}

.welcome-text-caption button::after {
	background: url(../img/arrow-next.png) no-repeat;
	content: "";
	position: absolute;
	height: 12px;
	width: 14px;
	top: 50%;
	transform: translate(6px, -50%);
}

.login-section {
	width: 430px;
	border-radius: 2px;
}

a.logo-login {
	display: block;
	text-align: center;
	margin-bottom: 25px;
}

.login-section input.form-control {
	border: 1px solid #bebebe;
	height: 44px;
	margin-bottom: 6px;
}

.login-section label {
	color: #333333;
	font-size: 14px;
	font-weight: 500;
}

.login-section span {
	font-size: 13px;
	color: #333333;
	font-weight: 500;
}

.login-section label.form-check-label {
	font-size: 13px;
	font-style: italic;
	color: #333333;
}

.login-section button {
	height: 44px;
	font-weight: 600;
}


/* Upload */

.uploads {
	width: 1170px;
	background: #121520;
	margin: 0 auto;
	text-align: center;
	height: 520px;
}

.uploads h2 {
	font-size: 24px;
	color: #fff;
	font-weight: 500;
	margin-bottom: 30px;
}

.uploading-btn {
	width: 200px;
	height: 60px;
	border-radius: 2px;
	font-size: 18px;
	font-weight: 500;
}

.btn-outline {
	background-color: transparent;
	border: 1px solid #e33461;
	color: #e33461;
	margin-left: 20px;
}

.modal .custom-modal {
	width: 960px;
	max-width: 960px;
}

.custom-modal .modal-content {
	background: #121520;
	padding-top: 40px;
	padding-bottom: 20px;
}

.custom-modal .dropzone {
	background-color: transparent;
	min-height: 300px;
	width: 660px;
	margin: 25px auto 40px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px dashed #1f222d;
	border-radius: 2px;
}

.custom-modal .dropzone .dz-message button {
	color: #7d7f85;
}

.custom-modal .dropzone .dz-message img {
	display: block;
	margin: 10px auto;
}

.custom-modal .modal-header {
	border: none;
	padding-bottom: 0;
}

.custom-modal h2 {
	font-size: 24px;
	text-align: center;
	color: #fff;
}

.custom-modal button.close {
	background: #e73a59;
	text-shadow: none;
	color: #ffff;
	opacity: 10;
	width: 28px;
	height: 28px;
	padding: 0;
	border-radius: 100%;
	top: 7px;
	position: absolute;
	right: 10px;
}

.bg-box {
	width: 24px;
	height: 24px;
	border-radius: 100%;
	color: #555965;
}

.text-body {
	width: 660px;
	margin: 0 auto;
	padding-bottom: 80px;
}

.textArea {
	border: 1px solid #292e3f;
	border-radius: 4px;
	margin-bottom: 20px;
	position: relative;
	margin-top: 25px;
}

.textArea textarea {
	background-color: transparent;
	border: transparent;
	min-height: 180px;
	vertical-align: top;
	padding: 20px;
}

.textArea textarea:focus {
	background-color: transparent;
	box-shadow: none;
	border: 1px solid #e73a59;
}

span.emoji-icon {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.text-body button {
	width: 120px;
	height: 42px;
	font-weight: 500;
	margin-top: 20px !important;
}

.login-section input.form-control:focus {
	background-color: transparent;
	box-shadow: none;
	border: 1px solid #e73a59;
}

.welcome-middle-bg {
	background-color: #121520;
}

.welcome-text h2 {
	color: #fff;
	font-size: 44px;
	font-weight: normal;
}

.magic-tv-text {
	color: #e83a57;
	font-weight: 600;
}

.inner-bg {
	background-color: #4d0679;
}

.backgrund-bg {
	background-color: #0b0e0f;
}

.white-box {
	background-color: #fff;
	border-radius: .25rem;
	height: calc(2.25rem + 2px);
	padding: .375rem .75rem;
}

.custom-select {
	background-color: #e2e2e2;
	height: 27px !important;
	font-size: 13px;
	padding: 4px 9px;
	border-radius: 0;
	border: none;
	font-weight: 600;
	color: #252525;
}

.white-box .text-left {
	color: #252525;
	font-weight: 600;
}

.title-event::-webkit-input-placeholder {
	/* Edge */
	color: #252525;
	font-weight: 600;
}

.title-event:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #252525;
	font-weight: 600;
}

.title-event::placeholder {
	color: #252525;
	font-weight: 600;
}


/* The container */

.custom-checkbox {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* Hide the browser's default checkbox */

.custom-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}


/* Create a custom checkbox */

.checkmark {
	position: absolute;
	top: -11px;
	height: 25px;
	right: 0;
	width: 25px;
	background-color: #e2e2e2;
}


/* On mouse-over, add a grey background color */

.custom-checkbox:hover input~.checkmark {
	background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.custom-checkbox input:checked~.checkmark {
	background-color: #e83a57;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}


/* Show the checkmark when checked */

.custom-checkbox input:checked~.checkmark:after {
	display: block;
}


/* Style the checkmark/indicator */

.custom-checkbox .checkmark:after {
	left: 10px;
	top: 7px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.middle-width {
	width: 500px;
	background: #1d212d;
	margin-top: 30px !important;
}

.welcome-width {
	width: 800px;
}

.btn-let-start {
	background: rgb(205, 17, 143);
	background: linear-gradient(264deg, rgba(205, 17, 143, 1) 0%, rgba(232, 58, 87, 1) 100%);
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	border-radius: 2px;
}

.middle-width .form-control {
	height: 44px;
}

.custom-navbar,
.custom-navbar .navbar {
	background-color: #121520;
}

.custom-navbar .nav-item a {
	color: #fff;
	font-size: 14px;
}

.menu-icon {
	margin-bottom: 10px;
}

.nav-item.active .nav-link {
	border-bottom: 4px solid #ce138c;
}

.body-bg {
	background-color: #0b0e0f;
}

.carousal-bg {
	background-color: #121520 !important;
	padding: 15px;
}

.right-block {
	background-color: #121520;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
}

.carousel-control-prev-icon {
	background-image: url('{{asset('images/preview.png')}}')
}

.carousel-control-next-icon {
	background-image: url('{{asset('images/arrow-next.png')}}')
}

.carousel-control-next,
.carousel-control-prev {
	opacity: 1;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	width: 20px;
	height: 20px;
	opacity: 0.2;
}

.item-height{
	height: 395px;

}

.svg-icon{
	fill:#FFFFFF;
	z-index: 999;
}

.full-screen-icon {
	position: absolute;
	right: 37px;
	bottom: 12px;
}

.event-title {
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	right:0;
	left:0;
}

.image-setting{
	position:absolute;
	margin: auto;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;	
}



:-webkit-full-screen .carousel-control-prev,
:-webkit-full-screen .carousel-control-next {
	height: 100vh;
}

:-webkit-full-screen .qr-code {
	display: block !important;
	position: absolute;
	bottom: 57px;
	right: 43px;
	width: 500px;
}

:-moz-full-screen .qr-code {
	display: block !important;
	position: absolute;
	bottom: 57px;
	right: 43px;
	width: 500px;
}

:-webkit-full-screen .full-screen-logo {
	display: block !important;
	position: absolute;
	top: 57px;
	left: 43px;
	/*width: 500px;*/
}

:-moz-full-screen .full-screen-logo {
	display: block !important;
	position: absolute;
	top: 57px;
	left: 43px;
	/*width: 500px;*/
}

:-webkit-full-screen .full-screen-icon {
	display: none;
}

:-moz-full-screen .full-screen-icon {
	display: none;
}

:-webkit-full-screen .carousel-item {
	height: 100vh;
}

:-moz-full-screen .carousel-item {
	height: 100vh;
}

.carousel-control-next,
.carousel-control-prev {
	width: 6%;
}

.upload-text-bg {
	background: #ce138c;
	background: -moz-linear-gradient(left, #ce138c 0%, #e73959 100%);
	background: -webkit-linear-gradient(left, #ce138c 0%, #e73959 100%);
	background: linear-gradient(to right, #ce138c 0%, #e73959 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce138c', endColorstr='#e73959', GradientType=1);
	color: #fff;
	padding: 9px;
	font-size: 16px;
	border-radius: 2px;
}

.scan-text {
	color: #fff;
	font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

.text-muted {
	font-size: 13px;
}

.full-screen-icon button {
	background-color: transparent;
	border: none;
}

.dark-bg{
	background-color: #121520;
	color:#fff;
}

.moderation-table thead th {
	border: none;
} 
.moderation-table td {
	border: none;
	background-color: #161a27;
	border-top: 1px solid #0b0e0f;
} 

.moderation-table td:last-child {
	border-bottom: none;
}

.moderation-table  tr td{
	font-weight: 200;
	font-size: 13px;
	vertical-align: middle;
}

.moderation-table  th {
	font-weight: 400;
	font-size: 13px;
}

.user-image{
	border-radius: 50%;
	border: 5px solid #262a36;
	width: 50px;
	height: 50px;
}

.user-image img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.border-bottom-custom {
	border-bottom: 1px solid #1f2434;
	padding-bottom: 20px;
	margin-bottom: 20px;
}


.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 28px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #bf0000;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 8px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #3bbf58;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		margin-right: 30px;
		margin-left: 30px;
		padding: 18px 0;
	}
}

@media screen and (max-width: 767px) {

	.image-setting{
	position:relative;
  }

	.navbar-brand img {
		width: 150px;
	}

	.item-height{
	height: auto;
	
}

	.border-bottom-custom{
		font-size: 24px;
		text-align: center;
		margin-top: 10px;
	}
	.color-text {
		display: block;
		width: 100%;
	}
	.modal .custom-modal,
	.custom-modal .dropzone,
	.text-body {
		width: auto;
	}
	.custom-navbar,
	.custom-navbar .navbar {
		padding: 10px;
	}
	.right-block {
		background-color: #121520;
		color: #fff;
		font-size: 20px;
		font-weight: bold;
		padding-top: 15px !important;
		margin-bottom: 13px;
		padding-bottom: 10px;
	}
	.qr-code-block img {
		width: 80px;
	}
	.scan-text {
		font-size: 13px;
	}
	.carousel-control-next,
	.carousel-control-prev {
		width: 15%;
	}
	 :-webkit-full-screen .qr-code {
		display: block !important;
		position: absolute;
		bottom: 1px;
		right: 19px;
		width: 500px;
	}
	.upload-text-bg {
		display: none;
	}
	 :-webkit-full-screen .carousel-item {
		height: auto;
	}
	 :-webkit-full-screen .carousel-control-prev,
	 :-webkit-full-screen .carousel-control-next {
		height: auto;
	}
	.btn-let-start {
		font-size: 18px;
	}
	.custom-select {
		font-size: 11px;
	}
	.welcome-text h2 {
		font-size: 25px;
	}
	.checkmark {
		top: -35px;
	}
	.welcome-width {
		width: 100%;
		padding: 10px 0!important;
	}
	.middle-width {
		width: auto;
		padding: 10px 15px !important;
		background-color: transparent;
		margin-top: 10px !important;
	}
	.backgrund-bg {
		background-image: none !important;
	}
	.login-section {
        width: 360px;
        
      padding: 25px 25px !important;
	}
	.uploads {
		height: 100%;
	}
	.uploading-btn {
		width: 145px;
		height: 48px;
		border-radius: 2px;
		font-size: 16px;
		font-weight: 500;
	}
	.btn-outline {
		margin-left: 5px;
	}
}

@media screen and (max-width: 400px) {
	.login-section {
		padding: 0 25px;
	}
}